* {
	box-sizing: border-box;
	text-shadow: 0 0 2px #000, 0 0 4px #000, 0 0 8px #000;
	outline: none;
}

html {
	background-color: #222;
}

html,
body {
	color: #fff;
	font-family: "Share Tech Mono", monospace;
	height: 100%;
}


#pageloading {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#pageloading img {
	width: 50vmin;
}

.spin {
	vertical-align: middle;
	display: inline-block;
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	line-height: 1em;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
